body {
    background: #252525;
    color: white;
    // background: linear-gradient(rgba(15, 15, 15, 0.705), rgba(116, 116, 116, 0.5));
    font-family: 'Roboto', sans-serif;

}

* {
    // border: 1px solid red;

} 